.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
	background:#310d0d url(../images/woodtile2.jpg) repeat scroll 0 0;
}

div#main {
     max-width: 1056px;
     display: block;
     margin-right: auto;
     margin-left: auto;
}

div#header {
     margin-top: 20px;
     height: 100px;
}

h1 {
     color: white; 
     font: bold 28px/45px Helvetica, Sans-Serif; 
     background: rgb(0, 0, 0); /* fallback color */
     background: rgba(0, 0, 0, 0.7);
     padding: 20px;
}
.whiskey {
     position: relative;
     float: left;
	width: 250px;
	height: 350px;
     border: 2px solid red;
     margin: 5px;
}

.whiskey img {
     position: relative;
     height: 100%;
     width: 100%;
}

.whiskey h2 {
     position: absolute; 
     top: 290px; 
     left: 0; 
     width: 100%;  
}
.whiskey h2 span { 
     color: white; 
     font: bold 14px/40px Helvetica, Sans-Serif; 
     background: rgb(0, 0, 0); /* fallback color */
     background: rgba(0, 0, 0, 0.7);
     padding: 10px; 
}