<h1>My Whiskies</h1>

<button type="button" class="btn btn-default new"><%= link_to 'New', new_path %></button>

<div class="container">
  <div class="row">
  <% @whiskies.each do |whisky| %>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag(whisky.image_url) %>
        <%= whisky.score %>
      </a>
      <h3><%= whisky.name %></h3>
    </div>
  <% end %>
  </div>
</div>