doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='/javascripts/libs/jquery-2.0.3.js')
		script(src='/javascripts/datastore.js')
		script(src='/javascripts/global.js')
		script.
			displayWhiskey(dataStore);