@import "bootstrap-sprockets";
@import "bootstrap";
@import "_material";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$blue-grey: #607d8b;
$whisky-tawny: #795548;
$whisky-caramel: #783412;
$deep-orange: #ff5722;
$material-red: #f44336;


body {
  background: $gray-medium-light;
}

#header {
  background: $blue-grey;

  .left {
    margin-top: 14px;
    color: white;
  }

  .main-navigation {
    background-color: $whisky-tawny;
    padding: 0;

    .main-navigation-item {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: $whisky-tawny;
      :hover {
        background-color: $whisky-caramel;
      }
      a {
        color: #ffffff;
        line-height: 47px;
        padding: 12px 22px;
        text-decoration: none;
        background: transparent;
        :hover {
          background-color: transparent;

        }
      }
    }
  }
}


#main {
  margin-top: 30px;
}

/* BUTTONS*/
a.btn-new {
  @include btn();
  background-color: $blue-grey;
  bottom: 30px;
  font-size: 30px;
  right: 30px;
  position: fixed;

}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* SHOW PAGE */


#display-card  {
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 30px;
  padding: 0;
  .row {
    margin: 0;
  }
  h1 {
  margin: 10px 20px;
  }
  .btn-danger {
    color: white;
  }
  .heading {
    background: $blue-grey;
    color: white;
  }
  h3, h4 {
    border-bottom: 1px solid black;
  }

  #static-info {
    margin: 0 20px;
    img {
      margin-top: 10px;
    }
    .bottle-info {
      margin-top: 97px;
      p {
        margin: 0;
      }
    }

  }
  #tasting-info  {
    margin: 0 20px;

  }
  #purchase-info {
    margin: 0 20px;
  }

  i {
    font-size: 14px;
  }
}
