<!DOCTYPE html>
<html>
<head>
  <title>MyWhiskeyShelf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<% controller.controller_name %>'>
  <nav id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="left">
            <h1>myWhiskyShelf</h1>
          </div>
  <!--         <div class="right">
    <ul class="main-navigation clearfix">
      <li class="main-navigation-item"><a href="#">HOME</a></li>
      <li class="main-navigation-item"><a href="#">UNO</a></li>
      <li class="main-navigation-item"><a href="#">DOS</a></li>
      <li class="main-navigation-item"><a href="#">TRES</a></li>
    </ul>
  </div> -->
        </div>

      </div>
    </div>
  </nav>

  <div id="main" class="container">
    <%= yield %>
  </div>
</body>
</html>
